/*모든 css파일에 다 붙여야 함*/
.footer {
    margin: auto 0 0;
    padding-top: 13px;
    height: 56px;
    text-align: center;
    border-top: 1px solid #eeeeee;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -ms-overflow-style: none;
}

::-webkit-scrollbar { display: none; }

h1 {
    color: black !important;
    font-size: 100px;
    text-align: center;
    padding: 30px;
}
/*여기까지*/

h2 {
    font-size: 500px;
}