/*모든 css파일에 다 붙여야 함*/
.footer {
    margin: auto 0 0;
    padding-top: 13px;
    height: 56px;
    text-align: center;
    border-top: 1px solid #eeeeee;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -ms-overflow-style: none;
}

::-webkit-scrollbar { display: none; }

h1 {
    color: black !important;
    font-size: 100px;
    text-align: center;
    padding: 30px;
}
/*여기까지*/

@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'NIXGONM-Vb';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

h2 {
    font-size: 30px;
    margin-left: 45px;
    font-family: 'NIXGONM-Vb';
}

formCon {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 75px;
}

submit {
    margin-left: 50px;
}

#LoginButton {
    position: absolute;
    right: 100px;
    width: 150px;
    font-family: 'SDSamliphopangche_Basic';
    text-decoration: none;
}

resetCon {
    display: flex;
    flex-direction: row;
    text-align: right;
    padding-top: 60px;
    font-size: 20px;
    /*height: 100px;*/
}

#button {
    /*margin-left: 30px;*/
    font-family: 'SDSamliphopangche_Basic';
    font-size: 24px;
    width: 70px;
    height: 60px;
    border: none;
    background-color: rgba(0,123,255,0.5);
    color: white;
    margin-top: 40px;
    border-radius: 4px;
}

#button:focus {
    background-color: rgba(0,123,255,1);
    border: none;
    outline: none;
}

table {
    /*width: 500px;*/
    height: 50px;
    margin: 50px 0 50px 50px;
    /*margin-left: 50px;*/
    font-family: 'NIXGONM-Vb';
    display: flex;
}

label {
    font-family: 'NIXGONM-Vb';
    font-size: 18px;
    /*margin-right: 20px;*/
    margin: 0;
    width: 70px;
}

form {
    display: flex;
}

input{
    outline: none;
    border: 3px solid rgba(0,0,0,0.1);
    background-color: white;
    border-spacing: 3px;
    border-radius: 5%;
    width: 300px;
}

input:focus {
    outline: none;
    border: 3px solid rgba(0,0,0,0);
    background-color: rgba(0,123,255,0.2);
    color: black;
    border-radius: 5%;
    border-spacing: 3px;
}

table th {
    width: 30px;
}